@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* globals.css */
html.light {
  --bg-color: white;
  --text-color: black;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

h1 {
  font-size: calc(1.2vw);
  @apply font-bold pt-1 text-white;
}

h2 {
  font-size: calc(1vw);
  @apply font-semibold text-white;
}

h3 {
  font-size: calc(0.9vw);
  @apply font-medium text-white;
}

p {
  font-size: calc(1vw);
}

a {
  font-size: calc(1vw);
}

button {
  @apply bg-blue-300 rounded-lg p-2 m-2 transition-colors duration-300 ease-in-out;
}

button:hover {
  @apply bg-green-300;
}

.control {
  @apply flex flex-col;
}

.control>div {
  @apply flex flex-row w-full my-3;
}

.control>div>div {
  border: 1px solid;
  @apply h-full p-3 mx-3 rounded-lg opacity-90 border-blue-400;
  /* bg-gradient-to-b from-blue-950 to-blue-900 */
}

.control_container {
  @apply h-full text-center;
}

.control_items {
  @apply flex justify-evenly items-center h-2/3;
}

.control_items>div {
  @apply h-4/5 flex flex-col justify-evenly;
}

.control_items h3 {
  @apply text-white
}

.pump {
  @apply flex h-2/3 justify-evenly w-full;
}

.pump>div {
  @apply flex flex-col w-full;
}

.pump>div>div {
  @apply flex justify-evenly;
}

.CCTV {
  @apply text-center h-full;
}

.CCTV>div {
  @apply w-full h-1/3 flex;
}

.CCTV>div>div {
  @apply w-1/3 h-full;
}

.CCTV>div>div>iframe {
  @apply w-full h-full;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border-left-color: #09f;
  animation: spin 1s linear infinite;
  display: inline-block;
  margin: 10px;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.markerInfo {
  @apply w-full h-full px-1 bg-blue-200;
}

.markerInfo>p {
  @apply text-xs font-semibold;
}

.textRed {
  @apply text-red-500;
}

.textOrange {
  @apply text-orange-500;
}

.textBlue {
  @apply text-blue-500;
}

.sidebar {
  @apply flex flex-col items-center pt-8;
}

.sidebar>a {
  @apply px-5 py-4 w-full flex items-center transition-colors duration-500;
}

.sidebar>a:hover {
  @apply bg-blue-400 transition-colors duration-500;
}

.sidebar h1 {
  @apply mb-5;
}

.sidebar h2 {
  @apply py-2;
}

.sidebar h5 {
  @apply text-base pl-3;
}

.sidebar_box {
  @apply bg-gradient-radial from-blue-950 to-blue-900 text-white flex flex-col;
  width: 12%;
}

/* Custom Scrollbar Styling */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #89b0ee;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #3b82f6;
  /* Blue color */
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #2563eb;
  /* Darker blue on hover */
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #3b82f6 #f1f1f1;
}